# Streamlit
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Credenciales
*.json
credentials/
service-account-*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

passwords.py
passwords.txt